---
layout: index
title: "DBO"
---

<h2>
  <a href="https://pingangit.github.io/posts/private_ca.html">
    创建私有CA及签发证书
  </a>
  <div class="post-date">
	<span class="glyphicon glyphicon-time"></span>
	2016-11-15
  </div>
</h2>
<hr>
本文通过使用 openssl 创建私有 CA 和签发证书，加深对证书原理的理解。
	<p><h3><a href="{{ post.url }}">阅读全文 &raquo;</a></h3></p>
<hr>


<!-- Pager indicator -->
<ul class="pager">
  {% if paginator.previous_page %} {% if paginator.previous_page == 1 %}
  <li class="previous">
    <a href="/">
      &larr; 上一页
    </a>
  </li>
  {% else %}
  <li class="previous">
    <a href="/posts/page{{ paginator.previous_page }}/index.html">
      &larr; 上一页
    </a>
  </li>
  {% endif %} {% endif %} {% if paginator.next_page %}
  <li class="next">
    <a href="/posts/page{{ paginator.next_page }}/index.html">
      下一页 &rarr;
    </a>
  </li>
  {% endif %}
</ul>
